body {
    font-family: Arial, sans-serif;
    background-color: rgb(4, 29, 29);
}

.container {
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 5px;
}

input {
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(255, 8, 160);
    outline: none;
    font-size: 19px;
}

button {
    width: 60px;
    height: 41px;
    background-color: rgb(4, 29, 29);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
}

.task {
    position: relative;
    background-color: rgb(5, 31, 31);
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
}


.text ul i.fa-trash-o {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.text ul i.fa-edit {
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.task-container {
    display: flex; /* Use flex layout to align items horizontally */
    align-items: center; /* Vertically center the items within the container */
    
}

.task-checkbox {
    margin-right: 10px; /* Add some spacing to the right of the checkbox */
    flex-shrink: 0; /* Prevent the checkbox from shrinking */
}

